.btn {
    font-family: inherit;
    color: white;
    border-radius: 50px;
    border: 0;
    background-color: $cyan;
    height: 40px; width: 130px;
    font-weight: 700;
    letter-spacing: 1px;
}