$cyan: hsl(180, 66%, 49%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$dark-blue: hsl(255, 11%, 22%);
$grayish-violet: hsl(257, 7%, 63%);
$dark-violet: hsl(257, 27%, 26%);
$very-dark-violet: hsl(260, 8%, 14%);